
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body {
            font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
        }

    </style>
</head>
<body>
<h1>Password reset</h1>
<div>Hi <b th:text="${user.name}">name</b> !</div>
<p>
    Your password has been reset; See new password below
    <br/><br/>
    New password : <b th:text="${user.password}">password</b><br/>
    <br/>
</p>

<br>

<p>
    Regards, <br />
    &emsp; <em>Mawa Team</em>
</p>
</body>
</html>